body {
    background:
        linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
        linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
        linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
        linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #d6ebc3;
    text-align: center;
}

#odiv {
    border: 3px solid #00008b;
    margin: 30px 250px;
    border-radius: 10px;
}

#pdiv {
    border: 3px solid #00008b;
    margin: 30px 250px;
    border-radius: 10px;
    padding: 30px;
}

a {
    text-decoration: none;
}