div {
    padding: 10px;
    float: right;
    width: 65px;
    height: 65px;
    border: solid 1px #000000;
    background-color: #99ccff;
    transition-duration: 1s;
    font-size: small;
}



section {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(18, 1fr);
    justify-content: space-between;
    text-align: center;
}

.usynlig {
    opacity: 0;
}

.span-16 {
    grid-column: span 16;

}

.span-10 {
    grid-column: span 10;
}

.span-18 {
    grid-column: span 18;
}

.span-2 {
    grid-column: span 3;
}

.metall {
    background-color: #99ccff;

}

.halvmetall {
    background-color: #99ff99;

}

.ikkemetall {
    background-color: #ffcc99;
}

.gjennomsiktig {
    background-color: rgb(255, 255, 255);
}

.grupper {
    width: 60px;
    height: 20px;
    margin-bottom: 20px;
}

div:hover {
    transform: scale(150%);
}

.grupper:hover {
    transform: none;
}
